
body {
    font-family: Arial, sans-serif;
    margin: 100;
    padding: 0;
    box-align: left;

}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}






.carousel div img {
    width: 100%;
    height: auto;
    border: none;
}
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

header h1 {
    margin: 0;
    color: red;
    font-size: 24px;
}

header .subtitle {
    color: #1e90ff;
}

header .logo {
    width: 100px;
    height: auto;
}

nav {
    background-color: transparent;
    border-bottom: 2px solid #ddd;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    text-align: center;
}

section h2 {
    margin-top: 20px;
    color: darkred;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.options button {
    background-color: darkred;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.options button:hover {
    background-color: #555;
}


         html { height: 100%; margin: 0; font-family: Arial, sans-serif; }
        .header { background: #0A4DA2; padding: 10px 20px; color: darkorange; text-align: center; }
        #googleMapContainer { position: fixed; bottom: 30px; right : 10px; width: 200px; height: 150px; border: 3px solid #ccc; cursor: pointer; overflow: hidden; z-index: 5; }
        #googleMap { width: 100%; height: 100%;   }
        .content { padding: 20px; }
        .main-info { background: white; box-shadow: 0 0 10px rgba(0,0,0,0.1); margin: 20px; padding: 20px; border-radius: 8px; }
        .footer { background: gray; color: white; text-align: center; padding: 10px 20px; position: fixed; bottom: 0; width: 100%; }
.carousel {
  width: 45%;
  max-width: 200px; /* Largeur maximale de votre carousel */
  overflow: hidden;
   margin: 0;
  
}
.carousel img {
  width: 100%;
  display: none;

   
}

.carousel img.active {
  display: block;
    
    
}
